.navbar-custom {
    /* background-color:#ffffff !important; */
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 10px 0 0;
    margin-left: 240px;
    min-height: 70px;
}

.has_sub {
    display: block;
}

.kotak {
    margin-left: 280px;
}

.card {
    margin: 2px;

}

@media screen and (max-width: 460px) {

    .kotak {
        /* display: none; */
        margin-left: 0px;
    }

}